/* login page */

.heading {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1e293b;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 0.875rem;
    color: #1e293b;
    margin-bottom: 1.5rem;
}

.text {
    font-size: 0.875rem;
    color: #1e293b;
}

.link {
    color: #3b82f6;
    text-decoration: none;
}

.errorText {
    color: #ef4444;
    font-size: 0.75rem;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #2563eb;
}

.leftPanel {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.rightPanel {
    width: 50%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.formWrapper {
    width: 100%;
    max-width: 28rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.errorWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.25rem;
}

.iconWrapper {
    position: relative;
    width: 100%;
}

.icon {
    position: absolute;
    top: 50%;
    left: 0.8rem;
    transform: translateY(-50%);
    color: #9ca3af;
    pointer-events: none;
    font-size: 20px !important;
}

.eyeCon {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 0.8rem;
    transform: translateY(-50%);
}

.eyeConIcon {
    color: #9ca3af;
    font-size: 20px !important;
}

.input {
    width: 100%;
    height: 45px;
    padding: 0 1rem 0 2.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    outline: none;
}

.input::placeholder {
    color: #9ca3af;
}

.input option[value=""] {
  color: #9ca3af;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3b82f6;
}

.checkboxRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.forgotLink:hover {
    text-decoration: underline;
}

.submitButton {
    width: 100%;
    background-color: #3b82f6;
    color: white;
    height: 45px;
    padding: 0 1rem;
    border-radius: 0.375rem;
    border: none;
    transition: background-color 0.2s ease;
}

.submitButton:hover {
    background-color: #2563eb;
}



@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .leftPanel {
        width: 100%;
    }

    .rightPanel {
        width: 100%;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
    }

    .submitButton,
    .input {
        height: 40px;
    }
}